.ui-scrollBarWrap { position: relative; }
.ui-scrollBarBoth, .ui-scrollBarVertical, .ui-scrollBarHorizontal { overflow: hidden; }

.ui-scrollBarBoth, .ui-scrollBarVertical { height: 400px; width: 100%; float: left; }
	.ui-scrollBarVerticalBar { background: #D7D7D7; width: 10px; float: left; position: relative; }
	.ui-scrollBarVerticalHandle { background: #FE3B01; width: 10px; height: 10px; }
	
.ui-scrollBarBoth, .ui-scrollBarHorizontal { width: 400px; }
	.ui-scrollBarHorizontalBar { background: #D7D7D7; height: 10px; position: relative; }
	.ui-scrollBarHorizontalHandle { background: #FE3B01; width: 10px; height: 10px; }