div.slideShow2 { height: 548px; width: 560px; background: #E5E5E5 url(images/slideshow.gif) no-repeat; position: relative; }

div.slideShow2 .ui-Item { left: 30px; top: 39px; width: 500px; height: 400px; position: relative; }
div.slideShow2 .ui-SelectScroller { margin-top: 50px; }
div.slideShow2 .ui-Select { margin: 0 10px;  }
	div.slideShow2 .ui-SelectItem { float: left; width: 50px; height: 40px; padding: 5px; margin: 0 5px; border: 1px solid #ccc; background: #fff; }
	
div.slideShow2 .ui-Description { font-size: 12px; height: 20px; left: 30px; top: 23px; }
div.slideShow2 .ui-DescriptionItem { width: 500px; text-align: center; background: #fff; border-top: 1px solid #eee; }
	
div.slideShow2 .ui-Controls { background: url(images/controller.png); height: 42px; left: 50%; margin: -44px 0 0 -119px; overflow: hidden; position: absolute;	top: 50%; width: 238px; z-index: 10000; }
	div.slideShow2 .ui-Controls div { cursor: pointer; height: 18px; position: absolute; top: 12px; overflow: hidden; }
		div.slideShow2 .ui-Controls div:hover { background-position: 0 18px; }
	div.slideShow2 .ui-First { background: url(images/controller-first.gif); left: 33px;	width: 19px; }
	div.slideShow2 .ui-Previous { background: url(images/controller-prev.gif); left: 65px; width: 28px; }
	div.slideShow2 .ui-Pause { background: url(images/controller-pause.gif); left: 109px; width: 20px; }
	div.slideShow2 .ui-Next { background: url(images/controller-next.gif); left: 145px; width: 28px; }
	div.slideShow2 .ui-Last { background: url(images/controller-last.gif); left: 186px; width: 19px; }
	
div.slideShow2 .ui-OverlayLeft, div.slideShow2 .ui-OverlayRight { background: url(images/thumbnails-a.png); left: 0; top: 465px; height: 60px; position: absolute; width: 30px; z-index: 10000; }
div.slideShow2 .ui-OverlayRight { background: url(images/thumbnails-b.png); left: auto; right: 0; }