.select { width: 200px; }
	.select .ui-Status { border: 1px solid #ccc; padding: 2px; display: block; width: 196px; }
	.select .ui-Option { border: 1px solid #ccc; background: #fff; position: absolute; display: none; width: 200px; height: 250px; overflow-y: auto; overflow-x: hidden; }
		.select .ui-OptionItem { display: block; cursor: pointer; text-decoration: none; color: #000; padding: 2px; }
			.select .ui-OptionItem:hover { color: #fff; text-decoration: none; }
			.select .ui-active { background: #387EFF; color: #fff; }
			.select .ui-current { background: #6198FF; color: #fff; }
